{% extends "homepage/base.html" %}
{% block title %}Gallery{% endblock %}
{% load thumbnail %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12-center">
            <div class="row-forum">
                <div class="col-9-center">
                    <h2> {{ all_topics.count }} gorących tematów do dyskusji</h2>
                </div>
                <div class="col-3-center-no-brdr">
                    <a style="background-color:#2b3239" href="{% url "homepage:create_topic" %}" class="btn btn-secondary">Załóż temat</a>
                </div>
            </div>
            <div class="col-12-no-brdr">
            {% for topic in all_topics %}
                    <div class="row-forum">
                        <div class="col-9">
                            <p class="title-news"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></p>
                            <p class="date-cont">{{ topic.date_of_publication}} przez {{ topic.author }}</p>
                        </div>
                        <div class="col-3">
                            <p>Liczba postów: <strong>{{ topic.topic_count }}</strong></p>
                            <p>Data publikacji ostatniego posta: <br>{{ topic.last_post_date }}</p>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

