{% extends "homepage/base.html" %}
{% block title %}Gallery{% endblock %}
{% load thumbnail %}
{% load static %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12-center">
            <div class="row-forum">
                <div class="col-9-center">
                    <h2> {{ gallery_images.count }} zdjęć w galerii</h2>
                </div>
                <div class="col-3-center-no-brdr">
                    <a style="background-color:#2b3239" href="{% url "homepage:add_image" %}" class="btn btn-secondary">Dodaj zdjęcie</a>
                </div>
            </div>
            <div class="col-12-no-brdr">
                {% if gallery_images %}
                    <div class="row-forum">
                        <div class="col-12">
                            <img src="{{ last_image.resized_photo.url }}" class="active-image" style="max-width: 100%">
                            <p class="active-description">{{ last_image.title }}</p>
                            {% for short_list in long_table %}
                                <div class="row-forum">
                                    {% for image in short_list %}
                                        <div class="col-3">
                                            <img src="{{ image.thumbnail.url }}" alt="{{ image.title }}"
                                                 data-my-custom-data="{{ image.resized_photo.url }}"  class="clickable" style="max-width: 100%">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
function listen() {
const images = document.querySelectorAll("img.clickable");
images.forEach(photo => {
    photo.addEventListener("click", () => {
    let active_photo_source = document.querySelector("img.active-image");
    active_photo_source.src = photo.dataset.myCustomData;
    let active_photo_description = document.querySelector("p.active-description");
    active_photo_description.innerText = photo.alt;
    })
})
}

listen()
</script>

{% endblock %}
