{% extends "homepage/base.html" %}
{% block title %}Gallery{% endblock %}
{% load thumbnail %}
{% load static %}


{% block content %}

<script>
<!--  $function myFunc(image_id) {-->
<!--    $(".clickable").click(function(){-->
<!--        $.post(-->
<!--         url : "change_active_image/",-->
<!--         dataType:"html",-->
<!--         success: function(data, status, xhr){-->
<!--            console.log('test');-->
<!--            return image_id;-->

<!--        }-->
<!--        );-->
<!--        return false;-->
<!--    });-->
<!-- });-->
</script>

<script>
 const myFunc = function (image_id) {
    console.log("test");
    return image_id;
}

</script>

<div class="container">
    <div class="row">
        <div class="col-12-center">
            <div class="row-forum">
                <div class="col-9-center">
                    <h2> {{ gallery_images.count }} zdjęć w galerii</h2>
                </div>
                <div class="col-3-center-no-brdr">
                    <a style="background-color:#2b3239" href="{% url "homepage:add_image" %}" class="btn btn-secondary">Dodaj zdjęcie</a>
                </div>
            </div>
            <div class="col-12-no-brdr">
                {% if gallery_images %}
                    <div class="row-forum">
                        <div class="col-12">
                            <img src="{{ last_image.image.url }}" class="clickable">
                            {% for short_list in long_table %}
                                <div class="row-forum">
                                    {% for image in short_list %}
                                        <div class="col-3">
                                            <img src="{{ image.thumbnail.url }}" alt="{{ image.title }}" onclick="myFunc( {{ image.id }} )" class="clickable">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}


