{% extends "homepage/base.html" %}

{% block title %}Oława{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="col-12-center">
                <h2>Oława24.pl</h2>
                <p>10 najświeższych wiadomości zawsze pod ręką</p>
            </div>
            <hr>
                {% for news in olawa24_news %}
                    <p class="container-date" style="font-size:10px">{{ news.date_of_publication }}</a></p>
                    <p class="title-news" style="font-size:15px"><a href={{ news.link }}>{{ news.title|truncatechars:65  }}</a></p>
                {% endfor %}
        </div>
        <div class="col-6">
            <div class="col-12-center">
                <h2>TuOława.pl</h2>
                <p>10 najświeższych wiadomości zawsze pod ręką</p>
            </div>
            <hr>
            {% for news in tuolawa_news %}
                  <p class="container-date" style="font-size:10px">{{ news.date_of_publication }}</a></p>
                  <p class="title-news" style="font-size:15px"><a href={{ news.link }}>{{ news.title|truncatechars:65  }}</a></p>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block premieres %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="col-12-center">
                <h2>Kino Odra</h2>
                <p>Premiery filmowe dzisiaj:</p>
            </div>
            <hr>
            {% if kino_odra_movies.items %}
                {% for key, value in kino_odra_movies.items %}
                    <span class="title-news"><a href={{ key.link }}>{{ key.title }}</a> </span>
                    <span> Ocena na Filmweb: <strong>{{ key.filmweb_score|floatformat:1 }}</strong></span>
                    <p class="date_cont">Godzina spektakli:
                    {% for v in value %}
                        {{ v }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                    </p>
                {% endfor %}
            {% else %}
                <p>Niestety nie ma w dniu dzisiejszym premier filmowych w Kinie Odra. Zapraszamy jutro!</p>
            {% endif %}
        </div>
        <div class="col-6">
            <div class="col-12-center">
                <h2>GO!Kino</h2>
                <p>Premiery filmowe dzisiaj:</p>
            </div>
            <hr>
            {% if gokino_movies.items %}
                {% for key, value in gokino_movies.items %}
                    <span class="title-news"><a href={{ key.link }}>{{ key.title|truncatechars:38 }}</a>.</span>
                    <span> Ocena na Filmweb: <strong>{{ key.filmweb_score|floatformat:1 }}</strong></span>
                    <p class="date_cont">Godzina spektakli:
                    {% for v in value %}
                        {{ v }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                    </p>
                {% endfor %}
            {% else %}
                <p>Niestety nie ma w dniu dzisiejszym premier filmowych w GO! Kinie. Zapraszamy jutro!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block cityhall_news %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-12-center"><h2>Urząd Miasta Oława</h2></div>
            <hr>
            {% for news in umolawa_news %}
              <p class="title-news"><a href={{ news.link }}>{{ news.title }}</a></p>
              <p class="date_cont">Opublikowano: {{ news.date_of_publication }}</p>
              <p>{{ news.content|truncatewords:25 }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
