{% extends "homepage/base.html" %}

{% block title %}Zmiana hasła{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12-center">
            <h1>Zmiana hasła</h1>
            <p>Wypełnij poniższy formularz, aby zmienić hasło:</p>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Zmień hasło"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
