/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav-main a{
    font-size: 15px;
    padding: 14px 12px;
}

.topnav-secondary a {
    font-size: 12px;
    padding: 14px 12px;
}

/* Change the color of links on hover */
.topnav-main a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav-main a.active {
  background-color: #4CAF50;
  color: white;
}

.top_logo {
    text-align: center;
    }

.footer {
    background-color: #333;
    text-align: center;
    font-color: color: #f2f2f2;
}

.single_add {
    background-color: lightblue;
    font-color: #ddd;
    margin: 2px;
}

.single_add__title {
    color: white;
    font-size: 20px;
    margin: 2px;
}

.single_add__date {
    color: black;
    font-size: 10px;
    margin: 0px;
}


body {
  background-color: #DCDCDC;
}

.single_add__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


.row-add {
    background-color: #A9A9A9;
    margin: 3px;
}

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width:100%;
    display: flex;
    padding: 2px;
}

.col-3 {
    width: 25%;
    background-color: #F0F0F0;
    border: 1px solid #686868;
}

.col-6 {
    width: 50%;
    background-color: #F0F0F0;
    border: 1px solid #686868;
    margin-right: -2px;
}

.col-9 {
    width: 75%;
    background-color: #F0F0F0;
    border: 1px solid #686868;
    margin-left: -2px;
}

.col-12 {
    width: 100%;
    background-color: #F0F0F0;
    border: 1px solid #686868;
}

.col-3-center {
    display: flex;
    flex-direction: row;
    width: 25%;
    text-align: center;
    align-items: center;
    background-color: #F0F0F0;
    border: 1px solid #686868;
    margin-right: -2px;
}

.col-6-center {
    width: 50%;
    text-align: center;
    background-color: #F0F0F0;
}

.col-9-center {
    width: 75%;
    text-align: center;
}

.col-12-center {
    width: 100%;
    text-align: center;
    background-color: #F0F0F0;
}

.col-3-forum-user {
    display: flex;
    flex-direction: row;
    width: 25%;
    text-align: center;
    background-color: #F0F0F0;
    border: 1px solid #686868;
    margin-right: -2px;
}

.col-12-no-brdr {
    width: 100%;
    background-color: #F0F0F0;
}
.title-news {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
.container-date {
    font-size: 12px;
    font-style: italic;
    display: inline;
    margin-bottom: 0px;

}

}
.title-news-movie {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px
}

.col-3-foto-center {
    width: 25%;
    text-align: center;
    align-items: center;
    background-color: #F0F0F0;
    border: 1px solid #686868;
    margin-right: -2px;
}